{
  "openapi": "3.1.0",
  "info": {
    "title": "Nishvault x402 Pre-Send Guard",
    "version": "1.0.0",
    "description": "Machine-readable discovery for the paid Base-mainnet transaction preflight. The endpoint returns an x402 v2 payment challenge before any transaction is broadcast."
  },
  "servers": [
    {
      "url": "https://api.nishvault.com"
    }
  ],
  "paths": {
    "/simulate/transaction-preflight": {
      "post": {
        "operationId": "nishvaultTransactionPreflight",
        "summary": "Run a paid pre-send transaction simulation",
        "description": "Returns a $0.01 Base USDC x402 v2 payment challenge when called without payment. It simulates only and never broadcasts a transaction.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chainId": {
                    "type": "string",
                    "description": "Base mainnet chain ID in hexadecimal.",
                    "example": "0x2105"
                  },
                  "from": {
                    "type": "string",
                    "description": "EVM sender address used for simulation.",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "example": "0x1111111111111111111111111111111111111111"
                  },
                  "to": {
                    "type": "string",
                    "description": "EVM destination address used for simulation.",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "example": "0x2222222222222222222222222222222222222222"
                  },
                  "data": {
                    "type": "string",
                    "description": "Hexadecimal EVM calldata.",
                    "pattern": "^0x(?:[a-fA-F0-9]{2})*$",
                    "example": "0x"
                  },
                  "value": {
                    "type": "string",
                    "description": "Optional hexadecimal wei value.",
                    "example": "0x0"
                  }
                },
                "required": [
                  "from",
                  "to",
                  "data"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "402": {
            "description": "x402 v2 payment challenge for $0.01 Base USDC."
          },
          "200": {
            "description": "Paid preflight result and proof receipt."
          }
        }
      }
    }
  }
}
